.root {
    -fx-background-color: #1A2433;
}

.rounded-box {
    -fx-padding: 20;
    -fx-background-color: #2C3E50;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #3B475E;
    -fx-border-width: 2;
    -fx-max-width: 300;
    -fx-pref-height: 100;
    -fx-pref-width: 300;
}

.subtitle {
    -fx-fill: white;
    -fx-font-size: 14px;
    -fx-font-style: italic; /* making the subtitle italic */
}

#mainTitle {
    -fx-font-size: 32px;
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 0 30 0; /* Add padding to separate title from the rectangles */
}

.rect-title {
    -fx-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.outer-rounded-box {
    -fx-padding: 20;
    -fx-background-color: #34495E; /* A slightly different shade for differentiation */
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-border-color: #3B475E;
    -fx-border-width: 2;
    -fx-max-width: 340; /* Slightly larger than the inner boxes to accommodate them */
    -fx-pref-width: 340;
}

#scoreText,
#myMeanVal, #myModeVal, #mySDVal,
#globalMeanVal, #globalModeVal, #globalSDVal {
    -fx-font-weight: bold; /* making the numbers bold */
    -fx-font-size: 20px;
    -fx-fill: white;
}

#scoreText {
    -fx-font-size: 24px;
}

.home-button {
    -fx-background-color: #FF00FF; /* Magenta color */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #3B475E; /* Similar border color as the rounded boxes for consistency */
    -fx-border-width: 2;
    -fx-cursor: hand; /* Cursor changes to hand when hovering over the button */
}

.home-button:hover {
    -fx-background-color: #E600E6; /* Slightly darker shade of magenta for hover effect */
}
